.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10;
}
.logo-container {
  background-color: black;
  width: min-content;
}
.button-container {
  background-color: brown;
}
